{
  "plugins": [
    "transform-decorators-legacy",
    "add-module-exports"
  ],
  "presets": [
    ["env", {
      "loose": true,
      "targets": [
        "ie 9"
      ]
    }],
    "react",
    "stage-2"
  ]
}
